# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repositories\Laravel-Idempotent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
